.div-about-logo{
  display: flex;
  align-items: center;
}
.about-logo{
  width: 150px;
  margin-left:16px;
  cursor: pointer;
  border-radius: 100%;
}
header{
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    height: 100vh;
}