h2{
    text-align: center;
    margin-top: 50px;
}
.product-detail-main-div h3{
    color: green;
    font-size: 24px;
}
.product-detail-image{
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.product-detail-main-div{
    padding: 20px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    height: 100vh;
}
.urun-description{
    line-height: 1.6;
    color: #555;
}
.urun-category{
    font-weight: bold;
    margin-top: 10px;
}
.product-details-button-div{
    margin-top: 20px;
}