.nav-link{
  text-decoration: none;
  margin-left:6px;
  border-bottom: 1px solid #007bff;
  color: #5A9CB5;
  transition: transform 0.2s ease;
  display: inline-block;
}
.nav-link:hover{
  transform: scale(1.1);
  border-bottom: 1px solid #5A9CB5;
  color: #007bff;
}
.nav-link {
  text-decoration: none;
  color: #444;
  font-size: 18px;
  transition: 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
  transform: scale(1.1);
}

.logo {
  width: 80px;
  height: auto;
  cursor: pointer;
}
body{
  padding: 5px;
}


